* {
    font-family: 'Roboto', sans-serif;

}
body {
    background-color: whitesmoke;

}
 .card-header {
    position: absolute;
    left: 30px;
    padding: 5px;
    width: 150px;
    height: 35px;
    font-size: 18px;
    background-color: lightblue;
    color: lightslategray;

}

.contact-bg {
    padding: 25px;
    background-color: lightblue;
    height: 650px;
    margin: 15px;

}
.card-footer { 
    margin-bottom: 0px !important;
    color: lightslategray;
    background-color: lightblue;
}
.nav-link {
    color: lightslategray;
}


@media screen and (max-width: 480px) {
   
    .card-header {
      position: relative;
      left: 0px;
      width: 100%;
      height: 60px; 
      padding: 10px;
      font-size: 36px;
    }
    .justify-content-end {
        position: relative;
        right: 20%;
    }
    
  }

   