* {
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: whitesmoke;

}

 .card-header {
    border-radius: 15px / 50px !important;
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 5px;
    width: 150px;
    height: 35px;
    font-size: 18px;
    background-color: lightblue;
}

.contact-bg, .portfolio-bg, .about-bg {
    border-radius: 10px 50px !important;
    padding: 25px;
    background-color: lightblue;
    margin: 15px;
    min-height: 650px;
}

.nav-row {
    padding-top: 5px;
    padding-right: 5px;
}

.nav-link {
    color: lightslategray;
}

.about-image {
    float: left;
    margin-right: 15px;
}

.pad-portfolio { 
    padding-bottom: 25px;
}

.card-footer { 
    margin-bottom: 0px !important;
    color: lightslategray;
    background-color: lightblue;
}


@media screen and (max-width: 480px) {
   
    .card-header {
      position: relative;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 60px; 
      padding: 10px;
      font-size: 36px;
      border-radius: 0px !important;
    }

    .nav-row {
      padding-top: 10px;
      padding-right: 0px;
    }

    .about-image {
        width: 100%;
        height: 350px;
        margin-bottom: 15px;
    }
    
  }

  @media screen and (min-width: 481px) {

    .justify-content-center {
        position: absolute;
        right: 0px;

    }

    .contact-bg, .portfolio-bg, .about-bg {
        margin-top: 75px;
    }
  
  } 